@import "./mixins";
@import "./variables";
@import "./settings";
@import "./botones";
@import "./body";
@import "./main";
@import "./footer";

.max-altura{
    margin-top: map-get($map: $mapa, $key:L)*2;
    width: 35%;
    height: auto;
}
.row-dely{
    background-color: $fondo-formulario-contacto;
    font-weight: bold;
    // padding: map-get($map: $mapa, $key:XS);
    border-radius: 20px;
    border: 1px solid $violeta5asec;
    color: $violeta5asec;
    justify-content: space-around;  
    display: flex;
    margin: 0.2rem;
    flex-wrap: wrap;
}
.column-dely{
    padding: 0.1rem;
    border-radius: 20px;
    border: 1px solid $violeta5asec;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: auto;
}
.titulodescripcion, .descripcion{
    max-width: 2rem;
    min-width: 3rem;
    padding-left: 0.1rem;
    text-align: left;
}
.descripcion{
    font-weight: 400;
}
.precio, .preciototal{    
        margin-left: 2rem;
        max-width: 2rem;
        min-width: 2rem;
        text-align: left;
}

.tituloprecio{
    margin-left: 2rem;
    max-width: 2rem;
    min-width: 2rem;
    text-align: left;   
}
.columnPedido{
    background-color: white;
    border-bottom: 1px solid $violeta5asec;
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
.cantidadCarrito{
    display: flex;
    flex-direction: line;
}
.inputCantidad{
    max-width: 2rem;
    min-width: 2rem;
    text-align: right;
    margin-left: 0.1rem;
    font-size: xx-small;
}
.titulocantidad{
    margin-left:7rem;
    max-width: 2rem;
    min-width: 1rem;
    text-align: right;
}
.img-dely, .imgPedido{
    margin-top: 0.2rem;
    border-radius: 2px;
    text-align: left;
    width: 90%;
    height: auto; 
}
.img-pedido{
    width: 15%;
}
.descproducto{
    font-size: x-small;
    min-height: 1rem;
}
.p-dely{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.1rem;
    font-size: x-small;
}
.p-dely-input{
    border-radius: 2px;
    margin: 0;
    margin-bottom: 0.1rem;
    width: 3rem;
    text-align: right;
}
.carrito{
    border: 1.5px solid $violeta5asec;
    font-size: xx-small;
}
.container-reserva{
    border: 1.5px solid $violeta5asec;
    padding: 0.3rem;
    text-align: center;   
}
.container-reserva input{
    width: 100%;
    text-align: left;
    margin: 0.01rem;
    font-size: x-small;
}

.info-reserva{
    width: 100%;
    text-align: left;
    margin: 0.01rem;
    padding-left: 0.2rem;
    font-size: small;
    border-radius: 5px;
}
#comboEntrega{
    width: 100%;
    text-align: left; 
    margin: 0.01rem;
}
.container-proceso, .container-tips{
    background-color:$color-fondo-formulario;
    border-radius: 20px;
    border: 1px solid $violeta5asec;
    margin:0 auto;
}
.container-proceso{
    width: 40%;
    height: auto;
}
.container-tips{
    font-weight: bold;
    color: $violeta5asec;
    padding: map-get($map: $mapa, $key:XS);
    width: 68%;
    height: auto;
}
.container-proceso img, .container-tips img{
    width: 95%;
    border-radius: 20px;
    margin-top: map-get($map: $mapa, $key:XS);
    margin-bottom: map-get($map: $mapa, $key:XS);
}
.container-proceso img{
    background-color: rgba(245, 245, 245, 0.603);
    &:hover{
        background-color: rgba(245, 245, 245, 0.805);
        transition: 0.8s;
        transform:scale(1.40)
    }
}
.container-tips img{
    &:hover{
        transition: 0.5s;
        transform:scale(1.2)
    }
}
.container-main{
    display: flex;
    width: 90%;
    margin:0 auto;
    background-color: transparent;
}
.container-contact , .container-mapa, .container-delivery, .container-carrito{
    background-color: $fondo-formulario-contacto;
    font-weight: bold;
    padding: map-get($map: $mapa, $key:S);
    border-radius: 20px;
    border: 1px solid $violeta5asec;
    color: $violeta5asec;
    margin:0 auto;
    width: 90%;
    height: auto;
}
.container-delivery{
    width: 65%;
    margin-right: 0.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;

}
.container-carrito{
    width: 35%;
    margin-left: 0.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
}

.navbar{
    height: 63px; 
}
.navbar-nav .nav-link.active {
    color: #adb5bd;
} 
.nav-link:hover{
    transform: scale(1);
    background: $item-elegido;
    text-decoration: none;
}
.nav-item:active{
    color: #adb5bd;
}
.navbar-nav a{
    margin-left: map-get($map: $mapa, $key:S)*3;
    margin: 0;
    padding: map-get($map: $mapa, $key:S);
    background-color: $color-nav;
    transition: all 1s ease;
    color: $naranja; 
    &:hover{
        color:$color-fondo-formulario;
    }
}
.navbar-toggler{
    margin-top:-1rem;
    border:1px solid $naranja;
    &:hover{
        border:2px solid $naranja;
    }
}
/* estilos de titulos h1---h3*/
h1{
    color: $naranja;
    font-weight: bold;
    margin-top: map-get($map: $mapa, $key:L)+1;
    text-align:center;
    width: 100%;
    height: auto;
    padding: map-get($map: $mapa, $key:M);
    font-size: map-get($map: $mapa, $key:L)+1;
}
h2{
    color: $blanco;
    font-size: map-get($map: $mapa, $key:SM);
}
.h2-404{
    color: $naranja;
    font-weight: bold;
}
h3{
    padding-top: map-get($map: $mapa, $key:XS)*3;
    color:$gris;
    font-weight: bold;
    font-size: map-get($map: $mapa, $key:S);
}
h4{
    color: $color-nav;
    font-size: map-get($map: $mapa, $key:SM);
    text-align:center;
    width: 100%;
    height: auto;
}

.h6-reserva{
    color: $gris;
    font-size: x-small;
}
.mensajeDelivery{
    background-color: aqua;
}
.a-404{
    background-color: $negro-sombra;
    color:$blanco;
    font-size: map-get($map: $mapa, $key:SM);
    text-decoration: none;
    font-weight: bold;
    &:hover{
        transition: 1s;
        color: $naranja;
    }
}
.img-fondo{
    min-height: 100vh;
    background-image: url(../images/impg-404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.centrar-boton{
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
}
.centrar-h2{
    padding: 0;
    margin: 0;
    padding-top: map-get($map: $mapa, $key:XS);
    font-size: map-get($map: $mapa, $key:XL)/2;
    color: $gris;
    /*******/
    text-align: center;
}
.form-control{
    color: $violeta5asec;
    text-align: left;
    font-size: medium;
    border:none;
    background-color: transparent;
    border-bottom: 1px solid $naranja;
    margin-top: map-get($map: $mapa, $key:XS);
    &:hover{
        border:none;
        opacity: 0.5;
        border-bottom: 1.8px solid $naranja;
        background-color: transparent;
    }
}
.form-textarea{
    margin-top: map-get($map: $mapa, $key: XS);
    padding: 0.1rem;
    font-size: map-get($map: $mapa, $key: S);
    background-color: transparent;
    color: $violeta5asec;
    text-align: left;
    width: 100%;
    height: map-get($map: $mapa, $key: L)+1;
    border: 1px solid $naranja;
}
.form-check, .form-floating {
    text-align: left;
    font-size: map-get($map: $mapa, $key:SM)/2;
    color: $violeta5asec;
}
.card{
    border:none;
    background-color: transparent;
    width: 100%;
    height: auto;
    padding-bottom: 0.2rem;
    margin-bottom: map-get($map: $mapa, $key:XS);
}
.card-text{
    border:none;
    padding-top: map-get($map: $mapa, $key:XS);
    font-size: map-get($map: $mapa, $key:S);
    text-decoration: none;
    color:$violeta5asec;
    margin-bottom: map-get($map: $mapa, $key:XS);
    &:first-child{
        color:$color-nav;
        font-size: map-get($map: $mapa, $key:XS)+1;
    }
    &:hover:first-child{
        color:$naranja;
        transition: 1s;
    }
}
.card2{
    background-color: $fondo-card2;
    box-shadow: 8px 1px 10px $negro-sombra;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-right:2px solid $violeta5asec;
    transition: all 400ms ease;
    padding-bottom: 0.2rem;
    width: 100%;
    height: auto;
}
.estilo-b{
    margin-top: map-get($map: $mapa, $key:XS);
    width: 100%;
    height: auto;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%; 
    border-right: 2px solid $naranja;
}
.estilo-c{
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px $negro-sombra;
    width: 80%;
    height: auto;
}
.parrafo{
    padding: 0;
    margin: 0;
    padding-top: 0.2rem;
    color:$violeta5asec;
    font-size: map-get($map: $mapa , $key: S);
    font-weight: bold;
    letter-spacing: 2px;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*****************  ANIMACION CONTACTO ********************************/
@keyframes contacto-animado{
    100%{
        width: 20%;
    }
}
/*****************  ANIMACION slide-in-elliptic-top-fwd *****************/
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
}
/***************** ANIMACION text-pop-up-top ******************/
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 10% 10%;
              transform-origin: 10% 10%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      -webkit-transform-origin: 10% 10%;
              transform-origin: 10% 10%;
      text-shadow: 0 1px 0 #cccccc6a, 0 2px 0 #cccccc6a, 0 3px 0 #cccccc6a, 0 4px 0 #cccccc6a, 0 5px 0 #cccccc6a, 0 6px 0 #cccccc6a, 0 10px 13px rgba(0, 0, 0, 0.3);
    }
  }    
/*********  MEDIA QUERY  1280 ******/  
@media screen and (max-width: 1280px) {
    h1{
        font-size: map-get($map: $mapa, $key:L);
    }
    .container-proceso{
        width: 50%;
    }
    .container-proceso img{
        width: 95%;
        &:hover{
            transform:scale(1.30)
        }
    }
    .container-tips{
        width: 80%;
    }
    .btn-danger{
        margin-left: 0.5rem;
        margin-bottom: 0.1rem;
        width: 0.8rem;
    }
    .container-carrito{
        width: 35%;
    }
    .carrito{
        font-size: x-small;
    }
}
/*********  MEDIA QUERY  1024 ******/
@media screen and (max-width: 1024px) {
    *.navbar-nav a:last-child{
        margin-right: 0;
    }
    *.footer_box :nth-child(2) {
        margin-left: map-get($map: $mapa, $key:M)*4;
    }
    .centrar-h2{
        font-size: map-get($map: $mapa, $key:SM);
    }
    iframe {
        width: 80%;
        height:auto;
    }
    .card{
        padding: 0;
        padding-bottom: map-get($map: $mapa, $key:S);
    }
    .card-text{
        padding-bottom: map-get($map: $mapa, $key:S);
    }
}
/*********  MEDIA QUERY  992 ******/
@media screen and (max-width: 991px) {
    .navbar-nav {
        margin-top:-1rem;
        margin-left: -1rem;
        width: 32%;
    }
    .card-text{
        padding-bottom: map-get($map: $mapa, $key:XS);
        margin: 0;
        &:first-child{
            font-size: map-get($map: $mapa, $key:S);
        }
    }
    .container-carrito{
        width: 45%;
    }
}
/*********  MEDIA QUERY  900 ******/
@media screen and (max-width: 900px) {
    /*Boton redes*/  
    .bi-facebook2{
        color:$color-fondo-formulario;
    }
    .bi-facebook, .bi-instagram, .bi-whatsapp, .bi-facebook2 {
        font-size: map-get($map: $mapa, $key:S);
        padding-left: map-get($map: $mapa, $key:XS);
    }
    .form-check, .form-floating {
        font-size: map-get($map: $mapa, $key:XS);
    }
}
/*********  MEDIA QUERY  780******/
@media screen and (max-width: 780px) {
    *.footer_box :nth-child(2) {
        margin-left: map-get($map: $mapa, $key:XL);
    }
    .container-contact , .container-mapa{
        width: 80%;
        margin-bottom: map-get($map: $mapa, $key:S);
    }
}
/*********  MEDIA QUERY  610- Surface Duo******/
@media screen and (max-width: 610px) {
    .nav-link:hover{
        color: $violeta5asec;
    }
    .footer_box{
        font-size: map-get($map: $mapa, $key: XS);
        padding: 0.1rem;
        padding-top: map-get($map: $mapa, $key:XS);
        padding-bottom: map-get($map: $mapa, $key:XS);
    }
    .container-tips, .container-proceso{
        width: 80%;
    }   
    .container-main{
        display: flex;
        flex-direction: column;
    }
    .container-delivery, .container-carrito{
        width: 100%;
        margin:0;
    }
    .container-carrito{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .column-dely{
        width: 40%;
    }
    .container-reserva input, .info-reserva{
        font-size: medium;
    }
    .precio, .preciototal {
        margin-left: 2rem;
    }
    .titulocantidad{
        margin-left: 6rem;
    }
    .tituloprecio{
        margin-left: 2rem;
    }
    .inputCantidad{
        margin-left: 2rem;
    }
    .btn-danger{
        margin-left: 5rem;
    }
    .descripcion{
        margin-left: 0;
    }
    
}
/*****************************/
@media screen and (max-width: 490px) {
    .navbar-toggler{
        margin-top: 0;     
    }
    .container-tips{
        width: 95%;
        padding: map-get($map: $mapa, $key:SM);
        background-color: transparent;
        border: none;
        span{
            display: none;
        }
        img{
        margin-bottom:map-get($map: $mapa, $key:XS);
        padding: 0;
        &:hover{
            transition: 0.5s;
            transform:scale(1.3)
            }
        }
    }
    .precio, .preciototal {
        margin-left: 0.5rem;
    }
    .titulocantidad{
        margin-left: 4rem;
    }
    .tituloprecio{
        margin-left: 1rem;
    }
    .inputCantidad{
        margin-left: 0.5rem;
    }
    .btn-danger{
        margin-left: 0.2rem;
    }
}
/*********MEDIA QUERY - 481 *******/
@media screen and (max-width: 484px) {
    *.footer_box :nth-child(2) {
        margin-left: map-get($map: $mapa, $key:S)*3;
    }
    .navbar-toggler{
        margin-top:-5rem;
    }
    .parrafo{
        letter-spacing: none;
    }
    .col-md-4{
        width: 95%;
        margin-bottom: map-get($map: $mapa, $key:M);
    }
    .centrar-h1{
        padding-top: map-get($map: $mapa, $key:SM)*3;
    }
    .centrar-h2{
        font-size:map-get($map: $mapa, $key:L)/2;
        background-color: $fondo-card2;
    }
    .centrar-form{
        min-height: 500px;
    }
    .card2, .estilo-b{
        background-color: $fondo-card2;
    }
    .card{
        background-color: $fondo-card2;
        font-size: map-get($map: $mapa, $key:S);
    }
    .max-altura{
        padding-top: map-get($map: $mapa , $key: L);
        width: 65%;
    }
    .container-contact , .container-mapa{
        margin-bottom: map-get($map: $mapa, $key:S);
        width: 90%;
    }   
    .bi-facebook, .bi-instagram, .bi-whatsapp {
        padding-left: 0.2rem;
    }
    @keyframes contacto-animado{
        100%{
            width: 35%;
        }
    }   
}
/*****************MOBIL Galaxy Fold- SMALL ONE*/
@media screen and (max-width: 281px) {
    h1{
        padding-top: map-get($map: $mapa, $key:M);
        font-size: map-get($map: $mapa, $key:S);
    }
    h3{
        margin-top: map-get($map: $mapa, $key:S);
    }
    .centrar{
        margin-top:0;
    }    
    .centrar-h1, .centrar-h2{
        padding-top: map-get($map: $mapa, $key:S);
        font-size: map-get($map: $mapa, $key:M);
    }
    .navbar-toggler{
        margin-top:-3rem;
    }
    .navbar-nav {
        margin-top: map-get($map: $mapa, $key:XS);
        width: 40%;
    }
    .form-check, .form-floating {
        font-size: map-get($map: $mapa, $key:XS)/2;
    }
    .footer_box{
        font-size: 5px;
        margin: 0;
    }
    /*Boton redes*/
    .bi-facebook, .bi-instagram, .bi-whatsapp {
        font-size: map-get($map: $mapa, $key:XS)/2;
    }
    .datos, .parrafo{
        font-size: map-get($map: $mapa, $key:SM)/2;
    }
    .max-altura{
        padding-top: map-get($map: $mapa, $key:S)*4;
    }
    .btn-contacto{
        position: fixed;
        top:map-get($map: $mapa, $key:XS)*13;
        right: 1.75rem;
        letter-spacing: 0;
        padding:map-get($map: $mapa, $key:XS);
        font-size: map-get($map: $mapa, $key:S);
    }
    .precio, .preciototal {
        margin-left: 0.2rem;
        font-size: xx-small;
    }
    .titulocantidad{
        margin-left: 1.5rem;
    }
    .tituloprecio{
        margin-left: 1rem;
    }
    .inputCantidad{
        margin-left: 0.2rem;
        font-size: xx-small;
    }
    .btn-danger{
        margin-left: 0.2rem;
    }

    @keyframes contacto-animado{
        100%{
            width: 50%;
        }
    } 
}